In [31]:
import warnings

#Ignore all warnings
warnings.filterwarnings("ignore")

In [35]:
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

# Load the example dataset
dataset=[['Milk','Bread','Butter'],
        ['Bread', 'Butter'],
        ['Milk', 'Bread','Jam'],
        ['Milk','Eggs'],
        ['Bread','Eggs']]

# Convert the dataset to a pandas Dataframe
df=pd.DataFrame(dataset)

# Encode the dataset using one-hot encoding
encoded = pd.get_dummies(df.apply(pd.Series).stack()).groupby(level=0).sum()

# Generate frequent itemsets with minimum support of 0.4
frequent_itemsets = apriori(encoded, min_support=0.4, use_colnames = True)

# Generate association rules with minimum confidence of 0.4
rules = association_rules(frequent_itemsets, metric ='confidence', min_threshold =0.4)

# Print the resulting association rules
print(rules)

  antecedents consequents  antecedent support  consequent support  support  \
0    (Butter)     (Bread)                 0.4                 0.8      0.4
1     (Bread)    (Butter)                 0.8                 0.4      0.4
2      (Milk)     (Bread)                 0.6                 0.8      0.4
3     (Bread)      (Milk)                 0.8                 0.6      0.4

   confidence      lift  representativity  leverage  conviction  \
0    1.000000  1.250000               1.0      0.08         inf
1    0.500000  1.250000               1.0      0.08         1.2
2    0.666667  0.833333               1.0     -0.08         0.6
3    0.500000  0.833333               1.0     -0.08         0.8

   zhangs_metric  jaccard  certainty  kulczynski
0       0.333333      0.5   1.000000    0.750000
1       1.000000      0.5   0.166667    0.750000
2      -0.333333      0.4  -0.666667    0.583333
3      -0.500000      0.4  -0.250000    0.583333

C:\Users\Acer\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [37]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Butter),(Bread),0.4,0.8,0.4,1.000000,1.250000,1.0,0.08,inf,0.333333,0.5,1.000000,0.750000
1,(Bread),(Butter),0.8,0.4,0.4,0.500000,1.250000,1.0,0.08,1.2,1.000000,0.5,0.166667,0.750000
2,(Milk),(Bread),0.6,0.8,0.4,0.666667,0.833333,1.0,-0.08,0.6,-0.333333,0.4,-0.666667,0.583333
3,(Bread),(Milk),0.8,0.6,0.4,0.500000,0.833333,1.0,-0.08,0.8,-0.500000,0.4,-0.250000,0.583333

In [39]:
df

       0       1       2
0   Milk   Bread  Butter
1  Bread  Butter    None
2   Milk   Bread     Jam
3   Milk    Eggs    None
4  Bread    Eggs    None

In [41]:
encoded

   Bread  Butter  Eggs  Jam  Milk
0      1       1     0    0     1
1      1       1     0    0     0
2      1       0     0    1     1
3      0       0     1    0     1
4      1       0     1    0     0

In [43]:
frequent_itemsets

   support         itemsets
0      0.8          (Bread)
1      0.4         (Butter)
2      0.4           (Eggs)
3      0.6           (Milk)
4      0.4  (Butter, Bread)
5      0.4    (Milk, Bread)

In [ ]:
# Support of bread:
#4/5 = 0.8
#2/5 = 0.4